body{
    background-color: #10101A;
  }

h1 {
    font-family: "Consolas", monospace;
    color: #FFFFFF;
    font-size: 140%;
    padding: 170px 50px 10px 150px;
}

h2 {
    font-family: "Consolas", monospace;
    color: #FFFFFF;
    font-size: 280%;
    font-weight: bolder;
    padding: 0px 50px 10px 150px;
}

h3 {
    font-family: "Consolas", monospace;
    color: #FFFFFF;
    font-size: 160%;
    padding: 0px 50px 30px 150px;
}

p.intro {
    font-family: "Consolas", monospace;
    color: #FFFFFF;
    font-size: 150%;
    padding: 0px 50px 0px 150px;
}

.container{
    background-color: #0B0B13;
    display: flex;
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 15px;
}

p.profile {
    font-family: "Consolas", monospace;
    color: #FFFFFF;
    font-size: 200%;
    text-align: center;
    font-weight: bolder;
}

.about{
    width: 650px;
}

.details{
    flex-grow: 1;
}

p.text{
    font-family: "Consolas", monospace;
    color: #FFFFFF;
    line-height: 200%;
    font-size: 110%;
    text-align: justify;
    padding: 0px 50px 0px 120px;
}

span.text{
    font-family: "Consolas", monospace;
    color: #FFFFFF;
    line-height: 200%;
    font-size: 110%;
    padding-left: 15px;
}

p.title{
    font-family: "Consolas", monospace;
    color: #FFFFFF;
    font-size: 180%;
    font-weight: bold;
    line-height: 200%;
    border-bottom: 8px solid white;
    margin-left: 100px;
    margin-right: 50px;
}

.container_two{
    display: flex;
    margin-top: 50px;
    padding-bottom: 50px;
    border-radius: 15px;
}

.image{
    width: 550px;
}

.explanation{
    flex-grow: 1;
}

img{
    height: 250px;
    width: 500px;
    margin-left: 100px;
    box-shadow: 10px 10px white;
    border-radius: 15px;
}

.replit{
    background-color: #10101A;
    border: 3px solid white;
    border-radius: 10px;
    color: white;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    font-family: "Consolas", monospace;
    font-size: 20px;
    margin-left: 120px;
    margin-top: 25px;
    cursor: pointer;
}

.replit:hover{
    background-color: #FFFFFF;
    color: #10101A; 
}

.replit:hover i.material-symbols-outlined{
    color: #10101A; 
}

i.material-symbols-outlined {
    color:#FFFFFF;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}
